@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto+Condensed:wght@100..900&display=swap');
@import "tailwindcss";/* slick-carousel default styles */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-love: "Love Light", "sans-serif";
  --font-oswald: "Oswald", "sans-serif";
}
